:root {
  font-family: "Inter Tight", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: rgb(255, 255, 255);
  background: rgb(188, 223, 248);
  background: linear-gradient(
    135deg,
    rgb(188, 223, 248) 0%,
    rgb(53, 88, 120) 100%
  );
}

body.dark {
  color: rgb(255, 255, 255);
  background: rgb(60, 100, 128);
  background: linear-gradient(
    135deg,
    rgba(60, 100, 128) 0%,
    rgba(15, 34, 27) 100%
  );
}

a {
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline solid white 2px;
}

a:visited {
  color: white;
  text-decoration: none;
}

.active {
  text-decoration: underline solid white 2px;
}

body {
  margin: 0;
  display: flex;
  place-items: start center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  font-family: "Shrikhand", serif;
  line-height: 1.1;
  margin: 0;
}

p {
  font-weight: 500;
}



